# 1) Ignore all files
*

# 2) But not these specific ones:
!.gitignore           # keep the ignore file itself
!scripts/             # keep the entire src/ directory
!tests/               # keep the entire src/ directory
!blender_scripts/     # keep the entire src/ directory


# 3) If you need to include certain patterns inside src/:
!remeshing.ipynb     
!cryo-data.ipynb
!visualize_model.ipynb