# 1) Ignore all files
*

# 2) But not these specific ones:
!protocol            # keep the entire protocol/ directory
!protocol/**
!.gitignore           # keep the ignore file itself
!scripts/             # keep the entire src/ directory
!tests/               # keep the entire src/ directory
!blender_scripts/     # keep the entire src/ directory
!build_model/         # keep the entire src/ directory
!martini_mesh/
!martini_mesh/**
!martini_mesh/model_parameters.yaml
!Reference_objs/
!Reference_objs/original_merged.obj
!Reference_objs/original_merged.mtl

# 3) If you need to include certain patterns inside src/:
!thylakoid_mesh.ipynb     
